<div class="breadcum">

  <a routerLink="/product">Product</a> >
  Details

</div>
{{b}}dddd

<div class="product-wrapper" *ngIf="product">

  <div class="product-item">
    <div class="product-img">
      <img [src]="product.imageUrl" alt="img" />
    </div>
    <div class="product-detail">
      <h2>{{ product.name }}</h2>
      <p>{{ product.price | currency:'VND' }}</p>
      <div>
        {{product.description}}
      </div>

      <button class="card-btn">{{'Add to card'|  uppercase }}</button>
    </div>
  </div>
</div>

<app-product-comment></app-product-comment>


<app-product-list></app-product-list>