<div class="shop-wrapper">
  <div class="login-wrapper">
    <button (click)="login()">Login</button>
    <button (click)="logout()">Logout</button>
    <p class="note txt--center">
      You
      <span *ngIf="auth.isAuth; else logoutE"
        >Login. You can access detail</span
      >
      <ng-template #logoutE> Logout. You cannot access detail </ng-template>
    </p>

    <mat-slide-toggle
      #toggle
      (change)="hangleChangeSwitch()"
      [checked]="isDarkTheme"
      >Card Background :
      <b>{{ isDarkTheme ? "Dark" : "Light" }}</b></mat-slide-toggle
    >
  </div>
  <div class="content txt--center">
    <input [(ngModel)]="filter" placeholder="search by name" />
    <div class="grid">
      <app-card
        class="card"
        [ngClass]="{ 'light-card': !isDarkTheme }"
        *ngFor="let product of productList | filterQuery: filter"
      >
        <div
          (click)="movePage(product.id)"
          class="card-content"
          [appTooltip]="product.description"
        >
          <div class="card-img-wrapper">
            <img [src]="product.imageUrl" alt="img" />
          </div>

          <div class="card-title">{{ product.name }}</div>
          <p>{{ product.price | currency: "VND" }}</p>

          {{ product.description | shortenText: 30 }}
        </div>
      </app-card>
    </div>
  </div>
</div>

<app-pagination
  [pagination]="pagination"
  (onChangePage)="changePage($event)"
></app-pagination>
