.shop-wrapper {
  margin-bottom: 100px;
}
.card {
  margin-top: 30px;
  width: 20%;

  .card-img-wrapper {
    overflow: hidden;
  }
  .card-title {
    font-size: 14px;
    line-height: 18px;
    margin: 15px 0 20px;

    color: #89c74a;
  }

  img {
    width: 100%;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page-title {
  text-transform: uppercase;
  font-size: 30px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}
.card-content {
  cursor: pointer;
}

::ng-deep .login-wrapper {
  text-align: center;
  margin-top: 30px;

  .note {
    color: red;
    &:before {
      content: "*";
    }
  }
}

input {
  color: #333;
  margin: 10px auto;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #eee;
}

.txt--center {
  text-align: center;
}
:host-context(.light-card) mat-card {
  background: #fff;
}

mat-card {
  background: #333;
  // color: $green;
}
