<div class="shop-wrapper">
  <div class="txt--center">
    <mat-slide-toggle (change)="hangleChangeSwitch()" [checked]="isDarkTheme"
      >Card Background :
      <b>{{ isDarkTheme ? "Dark" : "Light" }}</b></mat-slide-toggle
    >
  </div>          
  <div class="content txt--center">
    <input [(ngModel)]="filter" placeholder="search by name" #searchInput />
    <div class="grid">
      <app-card
        class="card"
        [ngClass]="{ 'light-card': !isDarkTheme }"
        *ngFor="let product of productList | filterQuery: filter"
      >
        <div
          (click)="movePage(product.id)"
          class="card-content"
          [appTooltip]="product.description"
        >
          <div class="card-img-wrapper">
            <img [src]="product.imageUrl" alt="img" />
          </div>
          <app-product-status [status] = "product.inStock"></app-product-status>
          <div class="card-title">{{ product.name }}</div>
          <p>{{ product.price | currency: "VND" }}</p>
         

          {{ product.description | shortenText: 30 }}
        </div>
      </app-card>
    </div>
  </div>
</div>

<app-pagination
  [pagination]="pagination"
  (onChangePage)="changePage($event)"
></app-pagination>
