
<!-- 
<app-banner txt1='100% Healthy & Affordable' txt2='        Organic 
<br/>
Vegetables' txt3='Small Changes Big Difference' cclass="full-banner"></app-banner> -->
<div class="shop-wrapper">
  <div class="login-wrapper">
    <button (click)="login()">Login</button>
    <button (click)="logout()">Logout</button>
    <!-- <button mat-button color="primary">Primary</button> -->
    <p class="note">
      You
      <span *ngIf="auth.isAuth; else logoutE"
        >Login. You can access detail</span
      >
      <ng-template #logoutE> Logout. You cannot access detail </ng-template>
    </p>
  </div>
  <!-- <h1 class="page-title">products list</h1>  [appTooltip] = "'aa'" -->
  <div class="content">
    <input [(ngModel)]="filter"  placeholder='search by name'/>
    <div class="grid">
      <mat-card class="card" *ngFor="let product of productList | filterQuery :  filter">
        <div
          (click)="movePage(product.id)"
          class="card-content" 
          [appTooltip] = "product.description"

       
        >
          <div class="card-img-wrapper">
            <img [src]="product.imageUrl" alt="img" />
          </div>
          <mat-card-title>
            <h4 class="card-title">{{ product.name }}</h4>
          </mat-card-title>
          <mat-card-subtitle
            >{{product.description | shortenText : 30}}</mat-card-subtitle
          >
          <!-- <a [routerLink]="['/product', product.id]">{{ product.name }}</a> -->
        </div>
      </mat-card>
    </div>
  </div>
</div>
<!-- <app-banner txt1='SPECIAL DISCOUNT' txt2='        For all Grocery  
&nbsp;
products' txt3='Take now 20% off for all grocer product.' cclass="small-banner"></app-banner> -->