.product-wrapper {
  padding: 30px;

  margin: 0 auto;
  .product-item {
    display: flex;
    margin-top: 50px;
  }
  img {
    width: 300px;
    margin-right: 30px;
  }
}
.link-back {
  display: inline-block;
  width: 100%;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
