<div class="product-wrapper" *ngIf="product">
  <!-- <h2>Product details</h2> -->

  <span (click)="back()" class="link-back">
    <!-- <mat-icon
      svgIcon="trending-flat"
      aria-hidden="false"
      aria-label="Example thumbs up SVG icon"
    ></mat-icon> -->
    <- Back</span
  >
  <!-- <a routerLink="/product">Back by link not work!</a> -->
  <div class="product-item">
    <div class="product-img">
      <img [src]="product.imageUrl" alt="img" />
    </div>
    <div class="product-detail">
      <h2>{{ product.name }}</h2>
      <p>{{ product.price | currency }}</p>
    </div>
  </div>
</div>
