// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.logo {
  max-width: 140px;
}

.mat-sidenav {
  width: 250px;
}

.container
 {
overflow-x: hidden;
}
.nav-right {
  margin-left: auto;
  list-style: none;
  align-items: center;
  display: flex;
  li {
    margin-right: 10px;
  }
  a {
    font-size: 14px;
    color: #323232;
    text-decoration: none;

    text-transform: uppercase;
    font-weight: 600;
  }
  .link--active {

    color: greenyellow;
  }
}

.mat-toolbar{
  background-color: #fff;
  padding : 20px  0px;
}

