<app-banner
  txt1="100% Healthy & Affordable"
  txt3="Small Changes Big Difference"
  cclass="full-banner"
>
  <h1>
    Organic <br />
    Vegetables
  </h1>
</app-banner>
<app-small-banner></app-small-banner>
<div class="login-wrapper">
  <button (click)="productListCom.login()">Login</button>
  <button (click)="productListCom.logout()">Logout</button>
  <p class="note txt--center">
    You
    <span *ngIf="productListCom.auth.isAuth; else logoutE"
      >Login. You can access detail</span
    >
    <ng-template #logoutE> Logout. You cannot access detail </ng-template>
  </p>
</div>
<app-product-list #productListCom></app-product-list>

<app-banner
  txt1="SPECIAL DISCOUNT"
  txt3="Take now 20% off for all grocer product."
  cclass="small-banner"
>
  <h1>
    For all <br />
    Grocery products
  </h1>
</app-banner>
